.card {
    font-family: 'PT Mono';
    width: 23.875rem;
    /* min-width: 100%; */
    max-width: 23.875rem;
    height: 15.0625rem;
    border-radius: 8px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
    /* padding: 1rem; */
    margin: 0 auto;
}

.saved-cards-container .card:hover {
    cursor: pointer;
    z-index: 2;
    transform: translateY(5px);
    transition: 500ms;
}

.card__inner-container {
    width: inherit;
    height: inherit;
    min-width: inherit;
    display: grid;
    grid-template-rows: 1.75rem 2.4175rem 3.3125rem 3.625rem 1rem 2rem 1rem;
    grid-template-columns: 1rem repeat(4, 1fr) 1rem;
    background: linear-gradient(45deg, rgb(255 255 255 / 0), rgb(255 255 255 / 0.24));
}

.card__chip {
    grid-row: 2 / 4;
    grid-column: 2 / 3;
    align-self: top;
}

.card__vendor {
    grid-row: 2 / 3;
    grid-column: 5 / 6;
    justify-self: center;
    margin-left: 3rem;
}

.full-card-number {
    grid-row: 4 / 5;
    grid-column: 2 / -2;
    display: flex;
    justify-content: space-between;

}

.card-nr {
    font-size: 1.8125rem;
    margin: 0;
    letter-spacing: 3%;
    line-height: 2.03rem;
    align-self: center;
}

.card h4 {
    font-weight: 400;
    font-size: 0.75rem;
    grid-row: 5 / span 1;
    margin: 0;
    align-self: bottom;
}

.card__cardholder-name {
    grid-column: 2 / span 3;
    text-align: left;
}

.card__valid-thru {
    grid-column: 5 / span 1;
    text-align: right;
}

.card__inner-container > p {
    grid-row: 6 / span 1;
    font-size: 1.125rem;
    margin: 0;
    align-self: center;
}

