.saved-cards-container {
  width: 23.875rem;
  /* height: fit-content; */
  height: 15.0625rem;
  border: 1px solid #000;
  border-radius: 8px;
  margin: auto;
  margin-top: 2.5rem;
  display: grid;
  grid-auto-rows: 3.0625rem;



}

.saved-cards-container .card {
  
}


