* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #E5E5E5;
}

.view {
  width: 414px;
  min-height: 896px;
  margin: 0 auto;
  padding: 0 1rem;
  /* border: 2px dashed black; */
  background: #fff;

  text-align: center;
  position: relative;
}

.view h3 {
  font-size: 0.75rem;
  color: rgba(34, 34, 34, 0.6);
  font-family: 'Source Sans Pro';

}

button {
  font-family: 'PT Mono';
  font-size: 1.375rem;
  font-weight: 700;
  width: 100%;
  border: 1px solid black;
  border-radius: 8px;
}

.btn-navigate {
  background: #fff;
  color: #000;
  height: 5rem;
  width: 23.875rem;
  /* position: absolute;
  bottom: 1rem;
  left: 1rem; */
  margin-top: 2.5rem;
  margin-bottom: 1rem;

}

button:hover {
  cursor: pointer;
}

.delete-card-btn {
  position: absolute;
  top: 0.3rem;
  right: 0.3rem;
  opacity: 0;
  transition: 300ms;
  z-index: 3;
}

.delete-card-btn:hover {
  opacity: 1;
}

.delete-card-btn:active {
  opacity: 1;
}

.card:hover .delete-card-btn {
  opacity: 0.3;

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

